@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");
@import url("variables.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  background: aliceblue;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.settings {
  position: fixed;
  top: 10px;
  right: 10px;
  transition: var(--tran);
  font-size: 100px;
  color: rgb(130, 130, 130);
}

.settings:hover {
  animation: ustawienia 1s linear 1 alternate forwards;
}

.logo {
  width: 40%;
}

.start-btn {
  padding: 10px 30px;
  font-size: 400%;
  font-family: "Oswald";
  background: lightgreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--tran);
}

.start-btn:hover {
  box-shadow: var(--box-shadow);
}

@keyframes ustawienia {
  0% {
    color: rgba(130, 130, 130);
  }
  100% {
    rotate: 90deg;
  }
} ;
