@import url("variables.css");

form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-to-menu-btn {
  margin: 10px;
  position: fixed;
  font-size: 200%;
  background: lightgreen;
  border: none;
  border-radius: 5px;
  transition: var(--tran);
}

.back-to-menu-btn:hover {
  box-shadow: var(--box-shadow);
}
